{%extends "base.html"%}{% load bootstrap3 %}
{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            {% for item in images %}
            <!--kunafaa kua na if statement hapa-->
                 {% if item.user.profile.dp %}
            <div class="card-header"><img src="{{item.user.profile.dp.url}}" class="rounded-circle" width="50px" height="50px">{{item.user.username}}</div>

            {% else %}
            <div class="card-header"><img src="https://images.unsplash.com/photo-1535930749574-1399327ce78f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1f8a140ac20927deb386d1c9187433d6&auto=format&fit=crop&w=500&q=60" class="rounded-circle" width="50px" height="50px">{{item.user.username}}</div>

            {% endif %}
            <div class="card-body">
                <img class="img-responsive" src="{{item.image.url}}" style="text-align: center;" alt="" width="570px" height="570px">
                <p class="card-text">{{item.caption}}</p>
                <small>posted <em><b>:{{item.posted_time|timesince}}</b> ago</em></small>
                <br>
            </div>
            <div class="card-footer">
                <a class="far fa-heart"></a>
                <a class="far fa-comment">{{item.comment.all|length}}</a>
                {% for comment in item.comment.all %}
                <b><em><a href="{{comment.user.username}}">{{comment.user.username}}</a></em></b>:{{comment.comment}}
                <br>
                {% endfor %}
                <form id="comment" action="/comment/{{item.id}}" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                    {% bootstrap_form comnt %}
                    <input type="submit" class="btn btn-primary btn-sm" value="comment">
                </form>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3"></div>

    </div>
</div>
{% endblock %}
