<style>
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #ddd;
}
.navbar .logo-section {
  display: flex;
  align-items: center;
}
.navbar .logo-section div {
  align-self: stretch;
  width: 1px;
  background: black;
  margin: 0 20px;
}
.navbar .icons-section .fa {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  margin: 0 10px;
}
.navbar .logo {
  width: 40px;
}
.navbar .logoname {
  width: 130px;
}
.navbar .input-search {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: 2px solix #ddd;
  outline: 0;
}
.navbar .input-search:focus {
  text-align: left;
}


</style>
<nav class="navbar">
  <section class="logo-section"><img class="logo" src="https://seeklogo.com/images/I/instagram-new-2016-glyph-logo-84CB825424-seeklogo.com.png"/>
    <div></div><img class="logoname" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png"/>
  </section>
    <!--search form-->
  <form class="search-section">
    <input class="input-search" type="search" name="search" placeholder="Search"/>
  </form>
    <!--end of search form-->
  <section class="icons-section">
      {% if user.is_authenticated %}
      <a class="fa fa-compass" href="#"></a>
      <a class="fa fa-heart" href="#"></a>
      <a class="fa fa-user" href="/accounts/profile" ></a>
      <a class="fas fa-power-off" href="/logout" ></a>
      {% else %}
      <a class="fa fa-power-off" href="/accounts/login"></a>
      {% endif %}
  </section>
</nav>