{%extends "base.html"%}
{% load bootstrap3 %}
{% block content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="profile">

            <div class="profile-image">
                {% if request.user.profile.dp %}
               <img src="{{request.user.profile.dp.url}}" width="150px" height="150px">
                {% else %}
                <img src="https://images.unsplash.com/photo-1535930749574-1399327ce78f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1f8a140ac20927deb386d1c9187433d6&auto=format&fit=crop&w=500&q=60" width="150px" height="150px">
                {% endif %}
            </div>
            <div class="profile-user-settings">

                <h1 class="profile-username">{{request.user.username}}</h1>

                <button class="btn profile-settings-btn" data-toggle="modal" data-target="#profile">Edit Profile</button>

                <button class="fa fa-cog"></button>
                <button class="fas fa-upload" data-toggle="modal" data-target="#exampleModal"></button>

            </div>
                    <!--MODALs-->
                    <!-- image upload Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload New Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  action="{%url 'new-post'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-success btn-lg" value="Post">
  </form>
      </div>
      <div class="modal-footer">
        ...
      </div>
    </div>
  </div>
</div>
                    <!--END MODAL-->
                    <!--UPDATE BIO-->
          <div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload New Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  action="{%url 'new-post'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form profile%}
    <input type="submit" class="btn btn-success btn-lg" value="Post">
  </form>
      </div>
      <div class="modal-footer">
        ...
      </div>
    </div>
  </div>
</div>
                    <!--END OF BIO MODAL-->
            <div class="profile-stats">
                <ul>
                    <li><span class="profile-stat-count">12</span> posts</li>
                    <li><span class="profile-stat-count">120</span> followers</li>
                    <li><span class="profile-stat-count">512</span> following</li>
                </ul>
            </div>

            <div class="profile-bio">
              <p><span class="profile-real-name">first_last</span>  lojjkgytg</p>
            </div>

        </div>
            </div>
            <div class="col-md-8">
                {% for image in images%}
                <img src="{{image.image.url}}" alt="image">
                {% endfor %}
            </div>
        </div>



        <!--End of profile-->

    </div>

    <!--End container-->
</header>
{% endblock%}