{% extends 'base.html' %}
{% block content %}
<div class="row">
    {% if users %}
    {% for user in users %}
    <div class='col-md-4'>
        <br>
        <div class="panel" style="width: 50%;">

            <div class="card-body"></div>
            {% if user.profile.dp %}
            <a href='/prof/{{user.id}}/'>
                <img id="prof" style="" src="{{user.profile.dp.url}}" width="350px" height="350px" alt="image">
               </a>
               <h1 id='uname' > {{user.username}}</h1>

            {% else %}
            <a href='/prof/{{user.id}}/'>
                <img id="prof" style="" src="https://images.unsplash.com/photo-1535930749574-1399327ce78f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1f8a140ac20927deb386d1c9187433d6&auto=format&fit=crop&w=500&q=60">
               </a>
               <h2> {{user.username}}</h2>

            {% endif %}

        </div>
    </div>

    {% endfor %}
    {% else %}
    <h1 id='uname' >NO RESULTS</h1>
    {% endif %}


{% endblock %}